<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Rapid-Media</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="/stylesheet/group.css">
    <script src="https://kit.fontawesome.com/ad3e65915b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div>
            <a href="/index" class="nav-link active">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;    
        </div>
        <div class="profile">
            <% if (group && group.username) { %>
                <span><%= group.username.charAt(0).toUpperCase() %></span>
            <% } else { %>
                <span>U</span> 
            <% } %>
            <a href="/glogout" class="nav-link">Logout</a>
        </div>
    </nav>

        <div class="container">
            <% posts.forEach(post => { %>
                <div class="card">
                    <div class="card-header">
                        <img src="/images/card1.jpeg">
                    </div>
                    <div class="card-body">
                        <span>New-User</span>
                        <h4><%= post.title %></h4>
                        <p><%= post.description %></p> 
                    </div>
                    
                    <div class="user">
                        <% if (post && post.user.username) { %>
                            <span><%= post.user.username.charAt(0).toUpperCase() %></span>
                        <% } else { %>
                            <span>U</span> 
                        <% } %>
                        <div class="user-info">
                            <h5>
                                <% if (post.user) { %>
                                  <%= post.user.username %>
                                <% } else { %>
                                  Admin
                                <% } %>
                              </h5>
                              <small>
                                <%= new Intl.DateTimeFormat('en-US', { 
                                     year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit' 
                                }).format(new Date(post.createdAt)) %>
                              </small>
                        </div>
                    </div>
                    <div class="buttons">
                        <% if (group.permission === "Full Access") { %>
                            <form action="/group_block/<%= post._id %>" method="POST" style="display:inline;">
                                <button class="block"><%= post.user.permission === 'normal' ? 'block' : 'unblock' %></button>
                            </form>
                            <form action="/group_visibility/<%= post._id %>" method="POST" style="display:inline;">
                                <button class="edit"><%= post.visibility === 'public' ? 'Restrict' : 'Public' %></button>
                            </form>
                            <button class="delete" onclick="deletePost('<%= post._id %>')">Delete</button> 
                        <% } else { %>
                            <button class="delete" onclick="deletePost('<%= post._id %>')">Delete</button> 
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>

        <script>
            function deletePost(postId) {
                fetch(`/group_delete/${postId}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            location.reload(); 
                        } else {
                            alert("Failed to delete post");
                        }
                    });
            }
        </script>
        
</body>
</html>